---
layout: default
---

{{ content }}

<hr>

<section class="meta">
    <ul class="pager">
        <li {% unless page.previous %} class="disabled" {% endunless %}><a {% if page.previous %} href="{{ site.url }}{{ page.previous.url }}"{% endif %}>&larr; 上一篇</a></li>
        <li {% unless page.next %} class="disabled" {% endunless %}><a {% if page.next %} href="{{ site.url }}{{ page.next.url }}"{% endif %}>下一篇 &rarr;</a></li>
    </ul>

    <!--
    <span class="time">
      / <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
    </span>
    <br />

    <span class="license">
        Published under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(CC) BY-NC-SA</a>
    </span>

    {% if page.categories %}
        <span class="categories">
            in categories
            {% for cat in page.categories %}
                <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat | upcase }}</a>&nbsp;
            {% endfor %}
        </span>
    {% endif %}

    {% if page.tags %}
        <span class="tags">
            tagged with 
            {% for tag in page.tags %}
                <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
            {% endfor %}
        </span>
    {% endif %}
    -->
</section>

{% include comments.md %}

<!-- Baidu Button BEGIN -->
<!--
<script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=2&amp;mini=1&amp;pos=right&amp;uid=2194255" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    var bds_config={"bdTop":168};
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
-->
<!-- Baidu Button END -->
